
* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #B7B2B2;
  padding:10px;
  margin-top:10px;
  border: 3px solid #822c0e;
  border-radius:4px;
}

.skills {
  text-align: left;

  
  
  padding:15px;
  font-size:15px;
  border:2px solid #819000;
  color:#000000;

  text-align: right;
  align-content: center;
  border-radius:30px;

  

  
}




.App
{
  margin:10px;
  
}

  body {
 

    background: fixed;
    background: #15310f;
  
  

}


.containerr
{
    display: flex;
    flex-direction:column;
    margin:10px;
    margin-top: 20px;
    color:#000000;
    border-style: groove;
    border-width: 5px;
    border-color: grey;
      padding:15px;
      background: #010203;
      border-radius: 6px;
      border-radius:4px;

   
}
#textt
{
  padding:12px;
  font-size:35px;
  border: 2px solid #822c0e;
  background: #515b4d;
  border-radius: 10px;
  color:#badaaf;
  text-align: center;
}
#text
{
  padding:12px;
  font-size:45px;
  border: 2px solid #822c0e;
  background:#B7B2B2;
  border-radius: 5px;
}
#smokedef
{
  padding:12px;
  font-size:25px;
  border: 2px solid #822c0e;
  background: #515b4d;
  margin-top:5px;
  color:#badaaf;
  text-align: center;
  border-radius: 10px;

}
h1{
  
  font-weight:bold;
  font-size:30px;
  color:#685C0F;
}
h2
{
  font-weight:bolder;
  font-size:37px;
  color :orange;
  margin:20px;
  padding:12px;
  
  width:97%;
  background:#000000;
}

@media only screen and (max-width: 768px) 
{
  h2
  {
    margin-right:20px;
  }

  .skills
  {
    padding:9px;
    font-size:9px;
  }

}

.marker{
  width:40px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}
.marker.selected{
  background-color: yellow;
  border-color: black;
}